*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
}
table{
    background-color: rgb(255, 217, 4);
    color: black;
    font-size: 20px;
    margin: 100px 0;
}
td{
    border: 1px solid white;
    width: 300px;
    padding: 4px;
}
tr:first-child{
    background-color: rgb(255, 166, 0);
}